html,body{overflow-x: hidden;}
html {background-color: #F2F2F2;}
input::-webkit-input-placeholder {color: #eee;}

.dodder-pull-left {
    float: left;
}

.dodder-pull-right {
    float: right;
}

.dodder-fly-header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.dodder-fly-header h3 {
    left: 30px;
    position: absolute;
}

.dodder-fly-header a {
    color: #eee !important;
}

.dodder-search-box {
    margin-right: 15%;
    line-height: 50px;
}

@media screen and (max-width: 768px) {
    .dodder-fly-header h3 {
        left: 15px!important;
    }
    .dodder-search-box {
        margin-right: 30px;
    }

    .dodder-logo {
        display: block!important;
        text-align: center;
    }

    .layui-table tr td:nth-child(2) div:first-child {
        width: 100%!important;
    }

    footer {
        padding: 15px!important;
    }
}

.dodder-search-input {
    width: auto !important;
    display: inline-block !important;
    height: 30px !important;
    border-radius: 0;
    background-color: rgba(255,255,255,.2);
    border: none 0;
    color: #fff;
}

.dodder-search-btn {
    margin-left: 1px;
    margin-top: 10px;
    padding: 0 20px;
    border: none 0;
    border-radius: 0;
    float: right;
}

.dodder-body {
    padding-top: 50px !important;
    padding-bottom: 15px !important;
    word-wrap: break-word;
}

.dodder-logo {
    text-shadow: 3px 3px 2px black, -3px -3px 2px white;
}

#dodder-active {
    color: #f00 !important;
}

.dodder-tags {
    background: #F2F2F2;
    border-bottom: 1px solid #f6f6f6;
}

.dodder-text-center {
    width: 100%;
    text-align: center;
}

.dodder-box-shadow {
    -webkit-box-shadow: 0 0 5px rgba(37, 113, 156, 0.2);
    box-shadow: 0 0 5px rgba(37, 113, 156, 0.2);
}

.dodder-tag-list {
    list-style: none;
    font-size: 12px;
}

.dodder-tag-list li {
    margin-right: 5px;
    float: left;
}

.dodder-torrent-list {
    margin-top: 0;
}

.dodder-torrent-list em {
    color: #f00;
    font-style: normal;
}

.dodder-resource-status p {
    color: #999;
}

#dodder-page {
    padding-left: 20px;
}

.dodder-torrent-info {
    margin: 15px 0;
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #333;
    line-height: 1;
}

.dodder-nowrap {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dodder-magnet-link a, .dodder-green {
    color: #009688;
}

.dodder-search-result {
    padding: 50px 0;
    text-align: center;
    color: #999;
    font-size: 14px;
}

footer {
    padding: 20px 0;
    border-top: 2px solid #009688;
    font-size: small;
    color: #999;
    clear: both;
    background: #fff;
}

.layui-container {
    padding: 0;
}

.layui-nav {
    border-radius: 0;
}

.layui-table tr td:nth-child(2) {
    padding-left: 0;
}

.layui-table tr td:nth-child(2) div:first-child {
    width: 80%;
    float: left;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.layui-table tr td:nth-child(2) div:nth-child(2) {
    width: 20%;
    text-align: right;
    float: left;
    line-height: 40px;
}

.layui-table tr td:nth-child(2) div a {
    width: 100%;
    word-break: break-all;
}

.layui-table tr td:nth-child(3) {
    text-align: right;
}

.layui-breadcrumb a:hover {
    color: #f00 !important;
}

/*treeview*/

.filetree span {
    padding: 3px 0 1px 16px;
    display: block;
}

.filetree span.bticon {
    padding: 3px 1px 01px 18px;
    display: block;
    background: url(../img/torrent.gif) 0 0 no-repeat;
}

.filetree span.image {
    background: url(../img/image.gif) 0 0 no-repeat;
}

.filetree span.video {
    background: url(../img/video.gif) 0 0 no-repeat;
}

.filetree span.subtitle {
    background: url(../img/subtitle.gif) 0 0 no-repeat;
}

.filetree span.info {
    background: url(../img/info.gif) 0 0 no-repeat;
}

.filetree span.word {
    background: url(../img/word.gif) 0 0 no-repeat;
}

.filetree span.excel {
    background: url(../img/excel.gif) 0 0 no-repeat;
}

.filetree li small {
    padding-left: 5px;
    color: #999;
}